<div>
  {{model.name}}'s capital is a {{model.capitalName}}.
</div>
{{#if model.capitalPopulation.populationStorage}}
  <div>
    It can accomodate a maximum of <DisplayValue @tagName="span" @type="population" @value={{model.capitalPopulation.populationStorage}}/>
  </div>
{{/if}}
{{#if model.capitalFood.foodStorage}}
  <div>
    It can store a maximum of <DisplayValue @tagName="span" @type="food" @value={{model.capitalFood.foodStorage}}/>
  </div>
{{/if}}
{{#if model.capitalMaterial.materialStorage}}
  <div>
    It can store a maximum of <DisplayValue @tagName="span" @type="material" @value={{model.capitalMaterial.materialStorage}}/>
  </div>
{{/if}}
{{outlet}}