<div>
  {{model.name}}'s capital is a {{model.capitalName}}.
</div>
{{#if model.capitalPopulation.populationStorage}}
  <div>
    It can accomodate a maximum of <DisplayValue @type="population" @value={{model.capitalPopulation.populationStorage}}/>
  </div>
{{/if}}
{{#if model.capitalFood.foodStorage}}
  <div>
    It can store a maximum of <DisplayValue @type="food" @value={{model.capitalFood.foodStorage}}/>
  </div>
{{/if}}
{{#if (and empireCtl.materialAvailable model.capitalMaterial.materialStorage)}}
  <div>
    It can store a maximum of <DisplayValue @type="material" @value={{model.capitalMaterial.materialStorage}}/>
  </div>
{{/if}}
{{#if (and empireCtl.metalAvailable model.capitalMetal.metalStorage)}}
  <div>
    It can store a maximum of <DisplayValue @type="metal" @value={{model.capitalMetal.metalStorage}}/>
  </div>
{{/if}}
{{#if model.buildingLimit}}
  <div>
    It can have a maximum of <DisplayValue @type="building" @value={{model.buildingLimit}}/>
  </div>
{{/if}}
{{#if empireCtl.conquestAvailable}}
  <div type="button" role="button" class="btn btn-outline-danger"
          disabled={{not empireCtl.canBuyConquest}}
          onclick={{action "conquest" target=empireCtl}}>
    Conquer more land!<br>
    <small>
      {{#if empireCtl.conquestPopulationCost}}
        <DisplayValue @type="population" @value={{empireCtl.conquestPopulationCost}}/>
      {{/if}}
      {{#if empireCtl.conquestFoodCost}}
        <DisplayValue @type="food" @value={{empireCtl.conquestFoodCost}}/>
      {{/if}}
      {{#if empireCtl.conquestMaterialCost}}
        <DisplayValue @type="material" @value={{empireCtl.conquestMaterialCost}}/>
      {{/if}}
      {{#if empireCtl.conquestMetalCost}}
        <DisplayValue @type="metal" @value={{empireCtl.conquestMetalCost}}/>
      {{/if}}
    </small>
  </div>
{{/if}}
{{#if sacredLandAvailable}}
  <EmpireSpell @empire={{model}} @spellCost={{buildingLimitSpellCost}}
               @onSpell={{action "sacredLand"}}>
    Sacred Land<br>
  </EmpireSpell>
{{/if}}