<div>
  {{model.name}}'s capital is a {{model.capitalName}}.
</div>
{{#if model.capitalPopulation.populationStorage}}
  <div>
    It can accomodate a maximum of {{model.capitalPopulation.populationStorage}} population.
  </div>
{{/if}}
{{#if model.capitalFood.foodStorage}}
  <div>
    It can store a maximum of {{model.capitalFood.foodStorage}} food.
  </div>
{{/if}}
{{#if model.capitalMaterial.materialStorage}}
  <div>
    It can store a maximum of {{model.capitalMaterial.materialStorage}} material.
  </div>
{{/if}}
{{outlet}}