<div>
  {{model.name}}'s capital is a {{model.capitalName}}.
</div>
{{#if model.capitalPopulation.populationStorage}}
  <div>
    It can accomodate a maximum of <DisplayValue @type="population" @value={{model.capitalPopulation.populationStorage}}/>
  </div>
{{/if}}
{{#if model.capitalFood.foodStorage}}
  <div>
    It can store a maximum of <DisplayValue @type="food" @value={{model.capitalFood.foodStorage}}/>
  </div>
{{/if}}
{{#if (and empireCtl.materialAvailable model.capitalMaterial.materialStorage)}}
  <div>
    It can store a maximum of <DisplayValue @type="material" @value={{model.capitalMaterial.materialStorage}}/>
  </div>
{{/if}}
{{#if model.buildingLimit}}
  <div>
    It can have a maximum of <DisplayValue @type="building" @value={{model.buildingLimit}}/>
  </div>
{{/if}}
{{#if sacredLandAvailable}}
  <EmpireSpell @empire={{model}} @spellCost={{buildingLimitSpellCost}}
               @onSpell={{action "sacredLand"}}>
    Sacred Land<br>
  </EmpireSpell>
{{/if}}