<button type="button"
        class="btn btn-outline-success mt-1"
        hidden={{not isGenFoodAvailable}}
        disabled={{isGenFoodDisabled}}
        onclick={{action "genFood"}}>
  Horn of Plenty <DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
<div>
  {{model.name}} can store maximum of <DisplayValue @type="food" @value={{model.foodStorage}}/>
  {{#each foodStorageBuildings as |building|}}
    <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
  {{/each}}
</div>
<hr>
<div>
  {{model.name}} has <DisplayValue @type="food" @value={{model.food}}/>
</div>
{{#if model.foodProduction}}
  <div>
    You generate <DisplayValue @type="food" @value={{model.foodProduction}}/> per turn.
  </div>
{{/if}}
{{#if empireCtl.isLowFood}}
  <div class="text-danger">
    You will lose some population next turn.
  </div>
{{/if}}
<div>
  Food production efficiency: {{foodEfficiencyDisplay}}
</div>
{{#if model.capitalFood.maxWorkers}}
  <EmpireBuilding @building={{model.capitalFood}} @step={{empireCtl.assignValue}}/>
{{/if}}
{{#each foodProductionBuildings as |building|}}
  <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
{{/each}}
{{outlet}}