<div>
  {{model.name}} currently has {{model.food}} food.
</div>
{{#if isLowFood}}
  <div>
    You will lose some population next turn.
  </div>
{{/if}}
<button type="button"
        class="btn btn-outline-success"
        disabled={{isGenFoodOnCooldown}}
        onclick={{action "genFood"}}>
  Horn of Plenty <IconPoint @tagName="small" @type="magic" @point="1" />
</button>
{{outlet}}