<div>
  {{model.name}} has <DisplayValue @type="food" @value={{model.food}}/>
  and can store maximum of <DisplayValue @type="food" @value={{model.foodStorage}}/>
</div>
{{#if model.foodProduction}}
  <div>
    You generate <DisplayValue @type="food" @value={{model.foodProduction}}/> per turn
  </div>
{{/if}}
{{#if empireCtl.isLowFood}}
  <div class="text-danger">
    You will lose some population next turn
  </div>
{{/if}}
<EmpireSpell @empire={{model}} @spellCost="1" @disabled={{empireCtl.isMaxFood}}
             @outputType="food" @outputValue={{empireCtl.ressourceSpellEfficiency}}
             @onSpell={{action "genFood"}}>
  Horn of Plenty
</EmpireSpell>
{{#if foodStorageBuildings}}
  <hr>
  <h3>Storage</h3>
  <div>
    {{#if (not-eq model.ressourceStorageBoost 1)}}
      Food storage bonus: {{model.ressourceStorageBoost}}x
    {{/if}}
    {{#each foodStorageBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}
{{#if displayProduction}}
  <hr>
  <h3>Production</h3>
  <div>
    Food production efficiency: {{foodEfficiencyDisplay}}
    {{#if model.capitalFood.maxWorkers}}
      <EmpireBuilding @building={{model.capitalFood}} @step={{empireCtl.assignValue}}/>
    {{/if}}
    {{#each foodProductionBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}