<div>
  {{model.name}} currently has {{model.food}} food.
  {{#if model.foodProduction}}
    You generate {{model.foodProduction}} food per turn.
  {{/if}}
</div>
{{#if empireCtl.isLowFood}}
  <div class="text-danger">
    You will lose some population next turn.
  </div>
{{/if}}
<AssignPoint @class="ml-2" @isVisible={{workerHunterAvailable}} @disabled={{model.dead}}
             @value={{model.workerHunter}} @onChange={{action "changeHunter"}}
             @step={{empireCtl.assignValue}} @max={{add model.availableWorkers model.workerHunter}} as |workers|>
  Hunter{{if (gt model.workerHunter 1) "s"}}: {{workers}}
</AssignPoint>
<button type="button"
        class="btn btn-outline-success"
        hidden={{not isGenFoodAvailable}}
        disabled={{isGenFoodDisabled}}
        onclick={{action "genFood"}}>
  Horn of Plenty <DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
{{outlet}}