<div>
  {{model.name}} can store maximum of {{model.materialStorage}} material.
</div>
<hr>
<div>
  {{model.name}} has {{model.material}} material.
  {{#if model.materialProduction}}
    You generate {{model.materialProduction}} material per turn.
  {{/if}}
</div>
<AssignPoint @class="ml-2" @isVisible={{workerGathererAvailable}} @disabled={{model.dead}}
             @value={{model.workerGatherer}} @onChange={{action "changeGatherer"}}
             @step={{empireCtl.assignValue}} @max={{add model.availableWorkers model.workerGatherer}} as |workers|>
  Gatherer{{if (gt model.workerGatherer 1) "s"}}: {{workers}}
</AssignPoint>
<button type="button"
        class="btn btn-outline-success"
        hidden={{not isGenMaterialAvailable}}
        disabled={{isGenMaterialDisabled}}
        onclick={{action "genMaterial"}}>
  Magic Anvil<DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
{{outlet}}