<div>
  {{model.name}} has <DisplayValue @type="material" @value={{model.material}}/>
  and can store maximum of <DisplayValue @type="material" @value={{model.materialStorage}}/>
</div>
{{#if model.materialProduction}}
  <div>
    You generate <DisplayValue @type="material" @value={{model.materialProduction}}/> per turn
  </div>
{{/if}}
<button type="button"
        class="btn btn-outline-success mt-1"
        hidden={{not isGenMaterialAvailable}}
        disabled={{isGenMaterialDisabled}}
        onclick={{action "genMaterial"}}>
  Magic Anvil<DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
{{#if materialStorageBuildings}}
  <hr>
  <h3>Storage</h3>
  <div>
    {{#each materialStorageBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}
{{#if displayProduction}}
  <hr>
  <h3>Production</h3>
  <div>
    Material production efficiency: {{materialEfficiencyDisplay}}
    {{#if model.capitalMaterial.maxWorkers}}
      <EmpireBuilding @building={{model.capitalMaterial}} @step={{empireCtl.assignValue}}/>
    {{/if}}
    {{#each materialProductionBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}