<div>
  {{model.name}} can store maximum of <DisplayValue @tagName="span" @type="material" @value={{model.materialStorage}}/>
  {{#each materialStorageBuildings as |building|}}
    <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
  {{/each}}
</div>
<hr>
<div>
  {{model.name}} has <DisplayValue @tagName="span" @type="material" @value={{model.material}}/>
</div>
{{#if model.materialProduction}}
  <div>
    You generate <DisplayValue @tagName="span" @type="material" @value={{model.materialProduction}}/> per turn.
  </div>
{{/if}}
<button type="button"
        class="btn btn-outline-success mt-1"
        hidden={{not isGenMaterialAvailable}}
        disabled={{isGenMaterialDisabled}}
        onclick={{action "genMaterial"}}>
  Magic Anvil<DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
<div>
  Material production efficiency: {{materialEfficiencyDisplay}}
</div>
{{#if model.capitalMaterial.maxWorkers}}
  <EmpireBuilding @building={{model.capitalMaterial}} @step={{empireCtl.assignValue}}/>
{{/if}}
{{#each materialProductionBuildings as |building|}}
  <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
{{/each}}
{{outlet}}