<div>
  {{model.name}} has {{model.materialStorage}} warehouse{{if (gt model.materialStorage 1) "s"}} and can store a maximum of {{model.maxMaterial}}.
</div>
<hr>
<div>
  {{model.name}} has {{model.material}} material.
</div>
<button type="button"
        class="btn btn-outline-success"
        hidden={{not isGenMaterialAvailable}}
        disabled={{isGenMaterialDisabled}}
        onclick={{action "genMaterial"}}>
  Magic Anvil<DisplayValue @tagName="small" @type="magic" @value="1" />
</button>
{{outlet}}