<div>
  {{model.name}} currently has {{model.population}} human{{if popPlural "s"}}. {{if popPlural "They" "It"}} will need {{model.population}} food to survive next turn.
</div>
<button type="button"
        class="btn btn-outline-success"
        hidden={{isGenPopulationUnavailable}}
        disabled={{isGenPopulationOnCooldown}}
        onclick={{action "genPopulation"}}>
  Spontaneous Generation <IconPoint @tagName="small" @type="magic" @point="5" />
</button>
{{outlet}}