<div>
  {{model.name}} can accomodate a maximum of {{model.populationStorage}} population.
  {{#each populationStorageBuildings as |building|}}
    <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
  {{/each}}
</div>
<hr>
<div>
  {{model.name}} has {{model.population}} population.
  {{#if model.populationProduction}}
    You birth {{model.populationProduction}} population per turn.
  {{/if}}
  They will need {{add model.population model.populationProduction}} food to survive next turn.
  {{#if empireCtl.isWrongWorkers}}
    <div class="text-danger">
      You have {{model.availableWorkers}} workers. Fix the situation before begin able to go to next turn.
    </div>
  {{/if}}
</div>
<div>
  Population production efficiency: {{populationEfficiencyDisplay}}
</div>
{{#if model.capitalPopulation.maxWorkers}}
  <EmpireBuilding @building={{model.capitalPopulation}} @step={{empireCtl.assignValue}}/>
{{/if}}
{{#each populationProductionBuildings as |building|}}
  <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
{{/each}}
<button type="button"
        class="btn btn-outline-success mt-1"
        hidden={{not isGenPopulationAvailable}}
        disabled={{isGenPopulationDisabled}}
        onclick={{action "genPopulation"}}>
  Spontaneous Generation <DisplayValue @tagName="small" @type="magic" @value="5" />
</button>
{{outlet}}