<div>
  {{model.name}} currently has {{model.population}} human{{if popPlural "s"}}. {{if popPlural "They" "It"}} will need {{model.population}} food to survive next turn.
  {{#if model.popProduction}}
    You birth {{model.popProduction}} human{{if (gt model.popProduction 1) "s"}} per turn.
  {{/if}}
  {{#if empireCtl.isWrongWorkers}}
    <div class="text-danger">
      You have {{model.availableWorkers}} workers. Fix the situation before begin able to use next turn.
    </div>
  {{/if}}
</div>
<button type="button"
        class="btn btn-outline-success"
        hidden={{not isGenPopulationAvailable}}
        disabled={{isGenPopulationDisabled}}
        onclick={{action "genPopulation"}}>
  Spontaneous Generation <DisplayValue @tagName="small" @type="magic" @value="5" />
</button>
<AssignPoint @class="ml-2" @isVisible={{workerBreederAvailable}} @disabled={{model.dead}}
             @onLess={{action "lessBreeder"}} @onMore={{action "moreBreeder"}}
             @canBeLess={{gt model.workerBreeder 0}} @canBeMore={{gt model.availableWorkers 0}}>
  Breeder{{if (gt model.workerBreeder 1) "s"}}: {{model.workerBreeder}}
</AssignPoint>
{{outlet}}