<button type="button"
        class="btn btn-outline-success mt-1"
        hidden={{not isGenPopulationAvailable}}
        disabled={{isGenPopulationDisabled}}
        onclick={{action "genPopulation"}}>
  Spontaneous Generation <DisplayValue @tagName="small" @type="magic" @value="5" />
</button>
<div>
  {{model.name}} can accomodate a maximum of <DisplayValue @tagName="span" @type="population" @value={{model.populationStorage}}/>
  {{#each populationStorageBuildings as |building|}}
    <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
  {{/each}}
</div>
<hr>
<div>
  {{model.name}} has <DisplayValue @tagName="span" @type="population" @value={{model.population}}/>
</div>
{{#if model.populationProduction}}
  <div>
    You birth <DisplayValue @tagName="span" @type="population" @value={{model.populationProduction}}/> per turn.
  </div>
{{/if}}
<div>
  They will need <DisplayValue @tagName="span" @type="food" @value={{add model.population model.populationProduction}}/> to survive next turn.
</div>
{{#if empireCtl.isWrongWorkers}}
  <div class="text-danger">
    You have <DisplayValue @tagName="span" @type="worker" @value={{model.availableWorkers}}/>. Fix the situation before begin able to go to next turn.
  </div>
{{/if}}
<div>
  Population production efficiency: {{populationEfficiencyDisplay}}
</div>
{{#if model.capitalPopulation.maxWorkers}}
  <EmpireBuilding @building={{model.capitalPopulation}} @step={{empireCtl.assignValue}}/>
{{/if}}
{{#each populationProductionBuildings as |building|}}
  <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
{{/each}}
{{outlet}}