<div>
  {{model.name}} has <DisplayValue @type="population" @value={{model.population}}/>
  and can accomodate a maximum of <DisplayValue @type="population" @value={{model.populationStorage}}/>
</div>
<div>
  They will need <DisplayValue @type="food" @value={{add model.population model.populationProduction}}/> to survive next turn
</div>
{{#if model.populationProduction}}
  <div>
    You birth <DisplayValue @type="population" @value={{model.populationProduction}}/> per turn
  </div>
{{/if}}
{{#if empireCtl.isWrongWorkers}}
  <div class="text-danger">
    You have <DisplayValue @type="worker" @value={{model.availableWorkers}}/>. Fix the situation before begin able to go to next turn.
  </div>
{{/if}}
<EmpireSpell @empire={{model}} @spellCost="5" @disabled={{empireCtl.isMaxPopulation}}
             @visible={{genPopUpgrade}}
             @outputType="population" @outputValue="1"
             @maxOutputValue={{sub model.populationStorage model.population}}
             @step={{empireCtl.assignValue}}
             @onSpell={{action "genPopulation"}}>
  Spontaneous Generation<br>
</EmpireSpell>
{{#if populationStorageBuildings}}
  <hr>
  <h3>Storage</h3>
  <div>
    {{#each populationStorageBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}
{{#if displayProduction}}
  <hr>
  <h3>Production</h3>
  <div>
    Population production efficiency: {{populationEfficiencyDisplay}}
    {{#if model.capitalPopulation.maxWorkers}}
      <EmpireBuilding @building={{model.capitalPopulation}} @step={{empireCtl.assignValue}}/>
    {{/if}}
    {{#each populationProductionBuildings as |building|}}
      <EmpireBuilding @building={{building}} @step={{empireCtl.assignValue}}/>
    {{/each}}
  </div>
{{/if}}