<div>
  {{model.name}} currently has {{model.population}} human{{if popPlural "s"}}.
  {{#if model.popProduction}}
    You birth {{model.popProduction}} human{{if (gt model.popProduction 1) "s"}} per turn.
  {{/if}}
  {{if popPlural "They" "It"}} will need {{add model.population model.popProduction}} food to survive next turn.
  {{#if empireCtl.isWrongWorkers}}
    <div class="text-danger">
      You have {{model.availableWorkers}} workers. Fix the situation before begin able to use next turn.
    </div>
  {{/if}}
</div>
<AssignPoint @class="ml-2" @isVisible={{workerBreederAvailable}} @disabled={{model.dead}}
             @value={{model.workerBreeder}} @onChange={{action "changeBreeder"}}
             @max={{add model.workerBreeder model.availableWorkers}} as |workers|>
  Breeder{{if (gt model.workerBreeder 1) "s"}}: {{workers}}
</AssignPoint>
<button type="button"
        class="btn btn-outline-success"
        hidden={{not isGenPopulationAvailable}}
        disabled={{isGenPopulationDisabled}}
        onclick={{action "genPopulation"}}>
  Spontaneous Generation <DisplayValue @tagName="small" @type="magic" @value="5" />
</button>
{{outlet}}