<div class="container-fluid bg-light">
  <Input value={{model.empire.name}} @focus-out={{action "updateTemplateName"}}/> the {{model.empire.type}} empire
  <DisplayValue @class="float-right" @type="template" @value="{{remainingTemplatePoints}}/{{templatePoints}}"/>
</div>
Capital:
<button class="mx-2 my-2 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
  {{capitalize selectedCapital.name}}
</button>
<div class="dropdown-menu">
  {{#each capitalBuildings as |capital|}}
    <button class="dropdown-item {{if (eq capital selectedCapital) "active"}}"
            type="button" onclick={{action "selectCapital" capital.lvl}}
            disabled={{gt capital.TPcost (add selectedCapital.TPcost remainingTemplatePoints)}}
    >
      {{capitalize capital.name}}
      {{#if capital.TPcost}}
        <DisplayValue @type="template" @value={{capital.TPcost}}/>
      {{/if}}
    </button>
  {{/each}}
</div>
<AssignPoint @class="ml-2"
             @value={{model.populationTP}} @onChange={{action "changeRessource" "populationTP"}}
             @max={{maxPopulationTP}}>
  <DisplayValue @type="template" @value={{model.populationTP}}/>
  <FaIcon @icon="arrow-right"/>
  <DisplayValue @type="population" @value="{{rebirthPopulation}}/{{model.empire.populationStorage}}"/>
</AssignPoint>
<AssignPoint @class="ml-2"
             @value={{model.foodTP}} @onChange={{action "changeRessource" "foodTP"}}
             @max={{maxFoodTP}}>
  <DisplayValue @type="template" @value={{model.foodTP}}/>
  <FaIcon @icon="arrow-right"/>
  <DisplayValue @type="food" @value="{{rebirthFood}}/{{model.empire.foodStorage}}"/>
</AssignPoint>
<AssignPoint @class="ml-2" @hidden={{not materialAvailable}}
             @value={{model.materialTP}} @onChange={{action "changeRessource" "materialTP"}}
             @max={{maxMaterialTP}}>
  <DisplayValue @type="template" @value={{model.materialTP}}/>
  <FaIcon @icon="arrow-right"/>
  <DisplayValue @type="material" @value="{{rebirthMaterial}}/{{model.empire.materialStorage}}"/>
</AssignPoint>
<AssignPoint @class="ml-2" @hidden={{not metalAvailable}}
             @value={{model.metalTP}} @onChange={{action "changeRessource" "metalTP"}}
             @max={{maxMetalTP}}>
  <DisplayValue @type="template" @value={{model.metalTP}}/>
  <FaIcon @icon="arrow-right"/>
  <DisplayValue @type="metal" @value="{{rebirthMetal}}/{{model.empire.metalStorage}}"/>
</AssignPoint>
<AssignPoint @class="ml-2" @isVisible={{canAssignSpell}}
             @value={{model.maxSpellTP}} @onChange={{action "changeRessource" "maxSpellTP"}}
             @max={{add remainingTemplatePoints model.maxSpellTP}}>
  <DisplayValue @type="template" @value={{model.maxSpellTP}}/>
  <FaIcon @icon="arrow-right"/>
  <DisplayValue @type="magic" @value="{{rebirthMaxSpellPoints}} max"/>
</AssignPoint>
{{#if displayedBuildings}}
  <hr>
  <div class="ml-2">
    <h3>Buildings</h3>
    {{#each displayedBuildings as |building|}}
      <div class="row justify-content-start">
        <div class="col-2">
          {{capitalize building.name}}:
        </div>
        <div class="col-2">
          <DisplayValue @type="template" @value={{building.TPcost}}/>
          <FaIcon @icon="arrow-right"/>
          <DisplayValue @type="building" @value="1"/>
        </div>
        <div class="col-2">
          <AssignPoint @class="ml-2"
                       @value={{building.qty}} @onChange={{action "addBuilding" building}}
                       @max={{floor (div (add (mult building.qty building.TPcost) remainingTemplatePoints) building.TPcost)}}>
            <DisplayValue @type="building" @value={{building.qty}}/>
          </AssignPoint>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
<hr>
<div class="container-fluid">
  <button type="button" class="btn btn-outline-danger my-2" onclick={{action "rebirth"}}>
    <div>Restart with this {{model.empire.type}} empire</div>
    <small>Gain <DisplayValue @type={{game.rebirthPointsType}} @value={{game.rebirthPoints}} /> from current {{game.empire.type}} empire</small>
  </button>
</div>
<div class="container-fluid small">
  {{#if (eq model.empire.type "religious")}}
    Religious empires produces more <DisplayValue @type="mana"/> if you have more population and spend more turns. You need at least 2 population and 20 turns to start producing <DisplayValue @type="mana"/>
  {{else if (eq model.empire.type "economical")}}
    Economical empires produces more <DisplayValue @type="money"/> if you create more ressources, but decreases if you take too much turns. You need at least 20 turns to start producing <DisplayValue @type="money"/>.
  {{else if (eq model.empire.type "military")}}
    Military empires produces more <DisplayValue @type="strength"/> the more conquests you do. You need at least 20 turns to start producing <DisplayValue @type="strength"/>.
  {{/if}}
</div>
{{outlet}}