<div class="container-fluid bg-light">
  <Input value={{model.name}} @focus-out={{action "updateTemplateName"}}/>
  <span class="float-right">You have {{remainingTemplatePoints}}/{{templatePoints}} template points</span>
</div>
<AssignPoint @onLess={{action "lessPop"}} @onMore={{action "morePop"}}
             @canBeLess={{gt model.popTP 0}} @canBeMore={{gt remainingTemplatePoints 0}}>
  Population: {{rebirthPop}} ({{model.popTP}} TP)
</AssignPoint>
<AssignPoint @onLess={{action "lessFood"}} @onMore={{action "moreFood"}}
             @canBeLess={{gt model.foodTP 0}} @canBeMore={{gt remainingTemplatePoints 0}}>
  Food: {{rebirthFood}} ({{model.foodTP}} TP)
</AssignPoint>
<div class="container">
  <button type="button" class="btn btn-outline-danger my-2" onclick={{action "rebirth"}}>
    Restart with this empire and gain <DisplayValue @tagName="span" @type="mana" @value={{game.empire.nextManaPoints}} />
  </button>
</div>
<div class="container small">
  Religious empires produces more <DisplayValue @tagName="span" @type="mana" @value="" /> if you have more population and spend more turns. You need at least 2 population and 21 turns to start producing <DisplayValue @tagName="span" @type="mana" @value="" />
</div>
{{outlet}}