<div class="container-fluid bg-light">
  <Input value={{model.name}} @focus-out={{action "updateTemplateName"}}/> the {{model.type}} empire
  <span class="float-right">You have {{remainingTemplatePoints}}/{{templatePoints}} template points</span>
</div>
<div class="ml-2">
  Capital: {{capital}}
</div>
<AssignPoint @class="ml-2"
             @value={{model.popTP}} @onChange={{action "changePop"}}
             @max={{add remainingTemplatePoints model.popTP}}>
  Population: {{rebirthPop}} ({{model.popTP}} TP)
</AssignPoint>
<AssignPoint @class="ml-2"
             @value={{model.foodTP}} @onChange={{action "changeFood"}}
             @max={{add remainingTemplatePoints model.foodTP}}>
  Food: {{rebirthFood}} ({{model.foodTP}} TP)
</AssignPoint>
<div class="container">
  <button type="button" class="btn btn-outline-danger my-2" onclick={{action "rebirth"}}>
    <div>Restart with this {{model.type}} empire</div>
    <small>Gain <DisplayValue @tagName="span" @type={{game.rebirthPointsType}} @value={{game.rebirthPoints}} /> from current {{game.empire.type}} empire</small>
  </button>
</div>
<div class="container small">
  {{#if (eq model.type "religious")}}
    Religious empires produces more <DisplayValue @tagName="span" @type="mana" @value="" /> if you have more population and spend more turns. You need at least 2 population and 20 turns to start producing <DisplayValue @tagName="span" @type="mana" @value="" />
  {{else if (eq model.type "economical")}}
    Economical empires produces more <DisplayValue @tagName="span" @type="money" @value="" /> if you create more ressources, but decreases if you take too much turns. You need at least 20 turns to start producing <DisplayValue @tagName="span" @type="money" @value="" />.
  {{/if}}
</div>
{{outlet}}