{{#ember-notify messageStyle="bootstrap" as |message|}}
  {{#link-to "achievements"}}
    {{message.text}}
  {{/link-to}}
{{/ember-notify}}
<div class="modal fade" id="empireLostModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{game.empire.name}} final years</h5>
      </div>
      <div class="modal-body">
        {{game.empire.name}} has lost all its people. You will need to start over with a new empire, and be careful next time.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand mr-auto"}}
    {{model.name}}
  {{/link-to}}
  <ul class="navbar-nav">
    <li class="nav-item mx-2" hidden={{isManaHidden}}><DisplayValue @type="mana" @value={{model.mana}} /></li>
    <li class="nav-item mx-2" hidden={{isCultureHidden}}><DisplayValue @type="culture" @value={{model.culture}} /></li>
    <li class="nav-item mx-2" hidden={{isMoneyHidden}}><DisplayValue @type="money" @value={{model.money}} /></li>
    <li class="nav-item mx-2" hidden={{isScienceHidden}}><DisplayValue @type="science" @value={{model.science}} /></li>
  </ul>
</nav>
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      {{#link-to "empire" class="nav-link"}}
        {{this.game.empire.name}}
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "templates" class="nav-link"}}
        Templates
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "upgrades" class="nav-link"}}
        Upgrades
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "achievements" class="nav-link"}}
        Achievements
      {{/link-to}}
    </li>
    <li class="nav-item ml-auto">
      {{#link-to "settings" class="nav-link"}}
        Settings
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}