{{#ember-notify messageStyle="bootstrap" as |message|}}
  {{#link-to "achievements"}}
    {{message.text}}
  {{/link-to}}
{{/ember-notify}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}
    {{model.name}}
  {{/link-to}}
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2"><FaIcon @icon="users" /> {{game.empire.population}}</li>
      <li class="nav-item mx-2"><FaIcon @icon="smile" /> 67%</li>
    </ul>
    <button type="button" class="mx-auto btn btn-secondary" onclick={{action "nextTurn"}}>Turn {{game.empire.turn}}</button>
    <ul class="navbar-nav">
      <li class="nav-item mx-2" hidden={{isManaHidden}}><FaIcon @icon="dot-circle" /> {{model.mana}}</li>
      <li class="nav-item mx-2" hidden={{isCultureHidden}}><FaIcon @icon="book" /> {{model.culture}}</li>
      <li class="nav-item mx-2" hidden={{isMoneyHidden}}><FaIcon @icon="coins" /> {{model.money}}</li>
      <li class="nav-item mx-2" hidden={{isScienceHidden}}><FaIcon @icon="flask" /> {{model.science}}</li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      {{#link-to "empire" class="nav-link"}}
        Empire
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "templates" class="nav-link"}}
        Templates
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "upgrades" class="nav-link"}}
        Upgrades
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "achievements" class="nav-link"}}
        Achievements
      {{/link-to}}
    </li>
    <li class="nav-item ml-auto">
      {{#link-to "settings" class="nav-link"}}
        Settings
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}