<div class="container-fluid">
  <div class="row">
    <nav class="nav nav-pills flex-column border-right w-15">
      {{#link-to "empire.population" class="nav-link"}}
        Population <span class="badge badge-pill badge-light">{{model.population}}</span>
      {{/link-to}}
      {{#link-to "empire.food" class="nav-link"}}
        Food <span class="badge badge-pill badge-light">{{model.food}}</span>
      {{/link-to}}
      {{#link-to "empire.material" class="nav-link"}}
        Material <span class="badge badge-pill badge-light">{{model.material}}</span>
      {{/link-to}}
      {{#link-to "empire.metal" class="nav-link"}}
        Metal <span class="badge badge-pill badge-light">{{model.metal}}</span>
      {{/link-to}}
      {{#link-to "empire.energy" class="nav-link"}}
        Energy <span class="badge badge-pill badge-light">{{model.energy}}</span>
      {{/link-to}}
    </nav>
    <div class="w-85">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2"><DisplayValue @type="population" @value={{model.population}} /></li>
          <li class="nav-item mx-2"><DisplayValue @type="happiness" @value="67%" /></li>
          {{#if spellPointsDisplayed}}
            <DisplayValue @type="magic" @class={{unless spellPointsUnlocked text-secondary}} @value="{{model.spellPoints}}/{{model.maxSpellPoints}}" />
          {{/if}}
        </ul>
        <button type="button" class="btn btn-primary" onclick={{action "nextTurn"}}>Turn {{model.turn}}</button>
      </nav>
      <div class="container">
        {{outlet}}
      </div>
    </div>
  </div>
</div>