<BsModal @open={{newTemplateModal}} @onHide={{action "setTemplateModal" false}} as |Modal|>
  <Modal.body>
    Choose the empire type :
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action "newTemplate" "religious"}} @type="primary" @isVisible={{hasReligiousTemplates}}>Religious</BsButton>
    <BsButton @onClick={{action "newTemplate" "economical"}} @type="primary" @isVisible={{hasEconomicalTemplates}}>Economical</BsButton>
    <BsButton @onClick={{action "newTemplate" "cultural"}} @type="primary" @isVisible={{hasCulturalTemplates}}>Cultural</BsButton>
    <BsButton @onClick={{action "newTemplate" "scientific"}} @type="primary" @isVisible={{hasScientificTemplates}}>Scientific</BsButton>
  </Modal.footer>
</BsModal>
<div class="container-fluid">
  <div class="row">
    <nav class="ml-2 nav nav-pills flex-column border-right w-15">
      {{#each model as |template|}}
        <div class="row">
          <div class="col">
            {{#link-to "templates.template" template.id class="nav-link"}}
              {{template.name}}
            {{/link-to}}
          </div>
          <div class="col mr-1">
            <button type="button" class="close" onclick={{action "deleteTemplate" template.id}}>&times;</button>
          </div>
        </div>
      {{/each}}
      {{#if canAddTemplate}}
        <button typ="button" class="btn" onclick={{action "setTemplateModal" true}}>Add new template</button>
      {{/if}}
    </nav>
    <div class="border w-80">
      {{outlet}}
    </div>
  </div>
</div>