<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}
    {{model.name}}
  {{/link-to}}
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2"><FaIcon @icon="users" /> 12</li>
      <li class="nav-item mx-2"><FaIcon @icon="smile" /> 67%</li>
    </ul>
    <!-- TODO: Change into a button for rebirth -->
    <span class="navbar-text mx-auto">End Empire</span>
    <ul class="navbar-nav">
      <li class="nav-item mx-2"><FaIcon @icon="dot-circle" /> {{model.mana}}</li>
      <li class="nav-item mx-2"><FaIcon @icon="book" /> {{model.culture}}</li>
      <li class="nav-item mx-2"><FaIcon @icon="coins" /> {{model.money}}</li>
      <li class="nav-item mx-2"><FaIcon @icon="flask" /> {{model.science}}</li>
    </ul>
  </div>
  {{outlet}}
</nav>