<div class="row mx-2 my-2">
  {{#each model as |upgrade|}}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header {{if upgrade.isActive "bg-success"}}">
          {{upgrade.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{upgrade.description}}</p>
          <button type="button" class="btn btn-primary" hidden={{upgrade.isActive}} disabled={{upgrade.cannotBuy}} onclick={{action "buy" upgrade}}>
            Buy for
            {{#if upgrade.manaCost}}
              <FaIcon @icon="dot-circle" /> {{upgrade.manaCost}}
            {{/if}}
            {{#if upgrade.cultureCost}}
              <FaIcon @icon="book" /> {{upgrade.cultureCost}}
            {{/if}}
            {{#if upgrade.moneyCost}}
              <FaIcon @icon="coins" /> {{upgrade.moneyCost}}
            {{/if}}
            {{#if upgrade.scienceCost}}
              <FaIcon @icon="flask" /> {{upgrade.scienceCost}}
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}